# Folders
.vscode
build
clic/kernels

# Specific files
clic/core/includes/cle_preamble.h
clic/core/includes/clic.h

# System files
.DS_Store

# Prerequisites
*.d

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

#Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iml
/.idea/
